<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,406},{150,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1},{150,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1},{150,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{150,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,406},{150,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,405},{150,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,271},{150,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,271},{150,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,271},{150,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,136},{150,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,136},{150,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,136},{150,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{454,540}</string>
            <key>textureFileName</key>
            <string>3*4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
