<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>littlechicken_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,364},{57,79}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,64},{57,79}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,305},{57,79}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,64},{57,79}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,364},{57,79}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,64},{57,79}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,441},{57,69}}</string>
                <key>offset</key>
                <string>{1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,74},{57,69}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,124},{61,99}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,44},{61,99}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{57,121}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{57,121}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{57,99}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,44},{57,99}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_2_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,360},{57,79}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,64},{57,79}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{57,79}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,64},{57,79}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,360},{57,79}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,64},{57,79}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{57,69}}</string>
                <key>offset</key>
                <string>{1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,74},{57,69}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{61,99}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,44},{61,99}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{57,121}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{57,121}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,187},{57,99}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,44},{57,99}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_3_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{57,79}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,64},{57,79}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,246},{57,79}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,64},{57,79}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{57,79}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,64},{57,79}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,246},{57,69}}</string>
                <key>offset</key>
                <string>{1,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,74},{57,69}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,61},{61,99}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,44},{61,99}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,121}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{57,121}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
            <key>littlechicken_3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{57,99}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,44},{57,99}}</string>
                <key>sourceSize</key>
                <string>{83,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>egg_chicken.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85da2d107d724a14ad9aa3ea09432d88$</string>
            <key>textureFileName</key>
            <string>egg_chicken.pvr.ccz</string>
        </dict>
    </dict>
</plist>
