<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chicken_run000.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1572},{261,203}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,39},{261,203}}</string>
                <key>sourceSize</key>
                <string>{327,279}</string>
            </dict>
            <key>chicken_run001.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,733},{267,215}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,31},{267,215}}</string>
                <key>sourceSize</key>
                <string>{327,279}</string>
            </dict>
            <key>chicken_run002.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1237},{271,223}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{271,223}}</string>
                <key>sourceSize</key>
                <string>{327,279}</string>
            </dict>
            <key>chicken_run003.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1462},{271,225}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{271,225}}</string>
                <key>sourceSize</key>
                <string>{327,279}</string>
            </dict>
            <key>chicken_run004.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,508},{271,223}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{271,223}}</string>
                <key>sourceSize</key>
                <string>{327,279}</string>
            </dict>
            <key>chicken_run005.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1002},{269,215}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{269,215}}</string>
                <key>sourceSize</key>
                <string>{327,279}</string>
            </dict>
            <key>chicken_run006.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1542},{261,209}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,38},{261,209}}</string>
                <key>sourceSize</key>
                <string>{327,279}</string>
            </dict>
            <key>chicken_run007.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1273},{267,223}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,32},{267,223}}</string>
                <key>sourceSize</key>
                <string>{327,279}</string>
            </dict>
            <key>chicken_run008.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1777},{271,229}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{271,229}}</string>
                <key>sourceSize</key>
                <string>{327,279}</string>
            </dict>
            <key>chicken_run009.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,506},{271,225}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{271,225}}</string>
                <key>sourceSize</key>
                <string>{327,279}</string>
            </dict>
            <key>chicken_run010.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1689},{271,217}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{271,217}}</string>
                <key>sourceSize</key>
                <string>{327,279}</string>
            </dict>
            <key>chicken_run011.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,247},{267,209}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,31},{267,209}}</string>
                <key>sourceSize</key>
                <string>{327,279}</string>
            </dict>
            <key>fox_run000.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{287,243}}</string>
                <key>offset</key>
                <string>{-17,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{287,243}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run001.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,986},{269,249}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{269,249}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run002.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1004},{257,265}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{257,265}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1437},{237,287}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{237,287}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run004.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1271},{221,299}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,23},{221,299}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{237,291}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{237,291}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{255,277}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{255,277}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run007.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,247},{269,257}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{269,257}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run008.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{285,243}}</string>
                <key>offset</key>
                <string>{-16,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{285,243}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run009.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,733},{269,251}}</string>
                <key>offset</key>
                <string>{-13,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{269,251}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run010.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,733},{255,269}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{255,269}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{237,289}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{237,289}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{221,301}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,22},{221,301}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{237,291}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{237,291}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,277}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,22},{255,277}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
            <key>fox_run015.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,247},{271,259}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{271,259}}</string>
                <key>sourceSize</key>
                <string>{327,335}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>foxandchicken.pvr.ccz</string>
            <key>size</key>
            <string>{1016,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69b777de8162604113e6c7ed9d18f849$</string>
            <key>textureFileName</key>
            <string>foxandchicken.pvr.ccz</string>
        </dict>
    </dict>
</plist>
