<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,206},{125,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{125,151}}</string>
                <key>sourceSize</key>
                <string>{159,179}</string>
            </dict>
            <key>cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,0},{125,205}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{125,205}}</string>
                <key>sourceSize</key>
                <string>{209,233}</string>
            </dict>
            <key>cow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,399},{282,246}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{282,246}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>donkey.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{382,398}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{382,398}}</string>
                <key>sourceSize</key>
                <string>{420,414}</string>
            </dict>
            <key>sheep.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,399},{151,243}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{151,243}}</string>
                <key>sourceSize</key>
                <string>{197,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p11_sp.pvr.ccz</string>
            <key>size</key>
            <string>{508,645}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26ac551b7c7b54be35ee176288cd47e6$</string>
            <key>textureFileName</key>
            <string>p11_sp.pvr.ccz</string>
        </dict>
    </dict>
</plist>
