<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueFlower.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,461},{43,63}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{43,63}}</string>
                <key>sourceSize</key>
                <string>{65,75}</string>
            </dict>
            <key>cup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,359},{148,116}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{148,116}}</string>
                <key>sourceSize</key>
                <string>{174,134}</string>
            </dict>
            <key>cup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,461},{92,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{92,50}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>cupBotton.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,461},{86,29}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{86,29}}</string>
                <key>sourceSize</key>
                <string>{92,41}</string>
            </dict>
            <key>hen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{287,306}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{287,306}}</string>
                <key>sourceSize</key>
                <string>{377,384}</string>
            </dict>
            <key>hen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{253,358}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,26},{253,358}}</string>
                <key>sourceSize</key>
                <string>{377,384}</string>
            </dict>
            <key>newspaper.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,359},{200,101}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{200,101}}</string>
                <key>sourceSize</key>
                <string>{208,111}</string>
            </dict>
            <key>redFlower.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,359},{131,86}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{131,86}}</string>
                <key>sourceSize</key>
                <string>{145,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p12_sp.pvr.ccz</string>
            <key>size</key>
            <string>{541,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52de17fb9fffdfc1432153bbd009396f$</string>
            <key>textureFileName</key>
            <string>p12_sp.pvr.ccz</string>
        </dict>
    </dict>
</plist>
