<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cat0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,559},{191,253}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,10},{191,253}}</string>
			<key>sourceSize</key>
			<string>{207,271}</string>
		</dict>
		<key>cat0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,559},{212,337}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,12},{212,337}}</string>
			<key>sourceSize</key>
			<string>{242,353}</string>
		</dict>
		<key>hen.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,0},{454,558}}</string>
			<key>offset</key>
			<string>{-11,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,9},{454,558}}</string>
			<key>sourceSize</key>
			<string>{522,594}</string>
		</dict>
		<key>windowClose.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,559},{368,333}}</string>
			<key>offset</key>
			<string>{32,27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,28},{368,333}}</string>
			<key>sourceSize</key>
			<string>{560,443}</string>
		</dict>
		<key>windowOpen.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{560,441}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{560,441}}</string>
			<key>sourceSize</key>
			<string>{560,443}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>p13_sp.pvr.ccz</string>
		<key>size</key>
		<string>{1015,896}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:52e1ad37478b90611c462fc4dd120223$</string>
		<key>textureFileName</key>
		<string>p13_sp.pvr.ccz</string>
	</dict>
</dict>
</plist>
