<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,249},{67,64}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{67,64}}</string>
                <key>sourceSize</key>
                <string>{103,96}</string>
            </dict>
            <key>chi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,313},{67,58}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{67,58}}</string>
                <key>sourceSize</key>
                <string>{103,96}</string>
            </dict>
            <key>chi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,0},{70,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{70,84}}</string>
                <key>sourceSize</key>
                <string>{106,134}</string>
            </dict>
            <key>chi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,84},{70,80}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{70,80}}</string>
                <key>sourceSize</key>
                <string>{106,134}</string>
            </dict>
            <key>chi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,453},{63,85}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,72},{63,85}}</string>
                <key>sourceSize</key>
                <string>{157,179}</string>
            </dict>
            <key>chi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,164},{67,85}}</string>
                <key>offset</key>
                <string>{-8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,72},{67,85}}</string>
                <key>sourceSize</key>
                <string>{157,179}</string>
            </dict>
            <key>chi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,538},{52,94}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,14},{52,94}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>chi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,371},{64,82}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,25},{64,82}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>gongE.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{423,460}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{423,460}}</string>
                <key>sourceSize</key>
                <string>{449,482}</string>
            </dict>
            <key>muE.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,460},{401,492}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{401,492}}</string>
                <key>sourceSize</key>
                <string>{421,510}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p14_sp.pvr.ccz</string>
            <key>size</key>
            <string>{493,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18e09d0439feeca639e091f360e8d5fc$</string>
            <key>textureFileName</key>
            <string>p14_sp.pvr.ccz</string>
        </dict>
    </dict>
</plist>
