<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XJT-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,308},{44,61}}</string>
                <key>offset</key>
                <string>{2,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,106},{44,61}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,164},{44,71}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,48},{44,71}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,210},{46,67}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,35},{46,67}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-004.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,258},{48,65}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,28},{48,65}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-005.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,263},{52,61}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,40},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{52,61}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,43},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-007.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,263},{52,61}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,49},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{52,61}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,55},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-009.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,263},{52,61}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,61},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{52,61}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,71},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-011.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,263},{52,61}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,80},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{52,61}}</string>
                <key>offset</key>
                <string>{3,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,88},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-013.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,263},{52,61}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,94},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{52,61}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,100},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-015.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,263},{52,61}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,103},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>XJT-016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{52,61}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,106},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,167}</string>
            </dict>
            <key>推土机.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{160,75}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{160,75}}</string>
                <key>sourceSize</key>
                <string>{164,79}</string>
            </dict>
            <key>母鸡.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,259}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{167,259}}</string>
                <key>sourceSize</key>
                <string>{187,273}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p2_.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7be4508d827596c6205f29867d25039b$</string>
            <key>textureFileName</key>
            <string>p2_.pvr.ccz</string>
        </dict>
    </dict>
</plist>
