<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>爆炸0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1154},{149,143}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,263},{149,143}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1068},{235,221}}</string>
                <key>offset</key>
                <string>{-40,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,220},{235,221}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,2},{319,301}}</string>
                <key>offset</key>
                <string>{-46,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,176},{319,301}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,663},{403,381}}</string>
                <key>offset</key>
                <string>{-52,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,131},{403,381}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,663},{489,461}}</string>
                <key>offset</key>
                <string>{-58,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,87},{489,461}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,663},{489,461}}</string>
                <key>offset</key>
                <string>{-58,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,87},{489,461}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1352},{635,579}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{635,579}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1352},{635,579}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{635,579}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{659,625}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{659,625}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{659,625}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{659,625}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{671,659}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,659}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{671,659}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,659}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{653,675}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{653,675}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{653,675}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{653,675}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{635,629}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,19},{635,629}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
            <key>爆炸0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{635,629}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,19},{635,629}}</string>
                <key>sourceSize</key>
                <string>{683,675}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p3_boom.pvr.ccz</string>
            <key>size</key>
            <string>{1830,1989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a97cc45ba4f60064b8a610d1716f96b9$</string>
            <key>textureFileName</key>
            <string>p3_boom.pvr.ccz</string>
        </dict>
    </dict>
</plist>
