<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MJZL2-001001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,887},{112,117}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{112,117}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZL2-001002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,881},{110,117}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{110,117}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZL2-001003.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,874},{108,117}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{108,117}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZL2-001004.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{106,117}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{106,117}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZL2-001005.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,885},{110,117}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{110,117}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZM-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,110},{106,109}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{106,109}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZM-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,168},{108,107}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{108,107}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZM-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,204},{108,91}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{108,91}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZM-004.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,100},{112,77}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,37},{112,77}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZM-005.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,85},{114,81}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{114,81}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZM-006.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{114,81}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{114,81}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZM-007.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,85},{114,81}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{114,81}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZM-008.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{114,81}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{114,81}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZM-009.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,85},{114,81}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{114,81}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZM-010.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{114,81}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{114,81}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZM-011.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,100},{112,77}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,37},{112,77}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZM-012.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,168},{108,107}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{108,107}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>MJZM-013.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,110},{106,109}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{106,109}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>橙色001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,724},{90,161}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{90,161}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>橙色002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,561},{92,161}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{92,161}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>橙色003.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,725},{92,161}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{92,161}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>橙色004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,722},{94,157}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{94,157}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>橙色005.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{96,153}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,20},{96,153}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>橙色006.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,561},{94,155}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{94,155}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>橙色007.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,561},{92,159}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,14},{92,159}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>稻草人.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,557}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{504,557}}</string>
                <key>sourceSize</key>
                <string>{518,565}</string>
            </dict>
            <key>稻草人表情01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{130,116}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{130,116}}</string>
                <key>sourceSize</key>
                <string>{148,130}</string>
            </dict>
            <key>稻草人表情02.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,888},{122,120}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{122,120}}</string>
                <key>sourceSize</key>
                <string>{148,130}</string>
            </dict>
            <key>粉色001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{90,162}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{90,162}}</string>
                <key>sourceSize</key>
                <string>{118,182}</string>
            </dict>
            <key>粉色002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{92,162}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{92,162}}</string>
                <key>sourceSize</key>
                <string>{118,182}</string>
            </dict>
            <key>粉色003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,723},{92,160}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{92,160}}</string>
                <key>sourceSize</key>
                <string>{118,182}</string>
            </dict>
            <key>粉色004.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,719},{94,156}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{94,156}}</string>
                <key>sourceSize</key>
                <string>{118,182}</string>
            </dict>
            <key>粉色005.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,718},{96,154}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{96,154}}</string>
                <key>sourceSize</key>
                <string>{118,182}</string>
            </dict>
            <key>粉色006.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,561},{94,156}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{94,156}}</string>
                <key>sourceSize</key>
                <string>{118,182}</string>
            </dict>
            <key>粉色007.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,561},{92,160}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{92,160}}</string>
                <key>sourceSize</key>
                <string>{118,182}</string>
            </dict>
            <key>蓝色001.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,218},{53,97}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{53,97}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>蓝色002.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{59,99}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{59,99}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>蓝色003.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,246},{69,97}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{69,97}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>蓝色004.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,273},{73,93}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{73,93}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>蓝色005.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,179},{65,99}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{65,99}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>蓝色006.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{61,99}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{61,99}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>蓝色007.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,103},{55,99}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,7},{55,99}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>蓝色008.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,103},{57,97}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,7},{57,97}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>蓝色009.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,202},{55,95}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,8},{55,95}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>麦粒.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1004},{31,17}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p4_.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a371e5c6a09a0af6ce5a25fac52e707e$</string>
            <key>textureFileName</key>
            <string>p4_.pvr.ccz</string>
        </dict>
    </dict>
</plist>
