<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1026},{651,768}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,768}}</string>
                <key>sourceSize</key>
                <string>{683,768}</string>
            </dict>
            <key>gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1678},{142,292}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{142,292}}</string>
                <key>sourceSize</key>
                <string>{204,366}</string>
            </dict>
            <key>gzlxdm.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,665},{117,85}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,26},{117,85}}</string>
                <key>sourceSize</key>
                <string>{161,143}</string>
            </dict>
            <key>mfzd-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1678},{304,160}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,43},{304,160}}</string>
                <key>sourceSize</key>
                <string>{362,232}</string>
            </dict>
            <key>mfzd-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1678},{304,160}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,43},{304,160}}</string>
                <key>sourceSize</key>
                <string>{362,232}</string>
            </dict>
            <key>mfzd-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,895},{304,160}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,43},{304,160}}</string>
                <key>sourceSize</key>
                <string>{362,232}</string>
            </dict>
            <key>mfzd-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,590},{304,160}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,43},{304,160}}</string>
                <key>sourceSize</key>
                <string>{362,232}</string>
            </dict>
            <key>mjt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,432},{157,208}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{157,208}}</string>
                <key>sourceSize</key>
                <string>{223,306}</string>
            </dict>
            <key>mjt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1},{149,218}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,27},{149,218}}</string>
                <key>sourceSize</key>
                <string>{223,306}</string>
            </dict>
            <key>mzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,151},{280,209}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,28},{280,209}}</string>
                <key>sourceSize</key>
                <string>{328,277}</string>
            </dict>
            <key>p7-bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>xj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,590},{74,90}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{74,90}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1022,1983}</string>
            <key>textureFileName</key>
            <string>p7_bk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
