<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,62},{60,57}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{60,57}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,0},{62,53}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{62,53}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,54},{62,51}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{62,51}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{62,55}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{62,55}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,62},{60,57}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{60,57}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,0},{62,61}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,61}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{62,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,65}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,69}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,69}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{62,63}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{62,63}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{62,57}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{62,57}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,120},{60,53}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{60,53}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,116},{60,55}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{60,55}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,62},{60,57}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{60,57}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,58},{60,57}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{60,57}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,106},{60,55}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{60,55}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,62},{60,57}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{60,57}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>transitionNumber.pvr.ccz</string>
            <key>size</key>
            <string>{251,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d00b72a6d3d5ce88cfc2a82d6dbc8967$</string>
            <key>textureFileName</key>
            <string>transitionNumber.pvr.ccz</string>
        </dict>
    </dict>
</plist>
