<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>umbrella001.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{496,321}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,40},{496,321}}</string>
                <key>sourceSize</key>
                <string>{526,375}</string>
            </dict>
            <key>umbrella002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,323}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,38},{508,323}}</string>
                <key>sourceSize</key>
                <string>{526,375}</string>
            </dict>
            <key>umbrella003.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,325},{392,335}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,26},{392,335}}</string>
                <key>sourceSize</key>
                <string>{526,375}</string>
            </dict>
            <key>umbrella004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{228,319}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,42},{228,319}}</string>
                <key>sourceSize</key>
                <string>{526,375}</string>
            </dict>
            <key>umbrella005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{152,317}}</string>
                <key>offset</key>
                <string>{16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,44},{152,317}}</string>
                <key>sourceSize</key>
                <string>{526,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>umbrella.pvr.ccz</string>
            <key>size</key>
            <string>{1010,983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7021ca6d10e730fc601c10df12129052$</string>
            <key>textureFileName</key>
            <string>umbrella.pvr.ccz</string>
        </dict>
    </dict>
</plist>
