<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hao.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,53},{36,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,18},{36,110}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1},{103,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{103,51}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>le.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,279},{122,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{122,136}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>pang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{144,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{144,138}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,140},{142,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{142,138}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{250,416}</string>
            <key>textureFileName</key>
            <string>ziti.pvr.ccz</string>
        </dict>
    </dict>
</plist>
